/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-secondary: rgb(241 245 249);
  --text: #121212;
  --text-secondary: #999;
  --link: #118bee;
  --main: #F4C4C5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --background: #202124;
    --background-secondary: rgb(71 85 105);
  }
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: var(--link);
}

button {
  font: bold;
  background-color: var(--text);
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 1rem;
  color: var(--background);
  font-size: large;
}